SA_PASSWORD=your_strong_password_here
AW_SA_PASSWORD=your_strong_password_here
AW_PORT=1434
AW_SUBMISSION_LOGIN=submission
AW_SUBMISSION_USER=submission_user
AW_SUBMISSION_PASSWORD=your_strong_password_here
