th {
    padding: 8px 16px;
    font-size: 0.68rem;
    color: color-mix(in srgb, var(--clr-primary) 85%, transparent);
    font-weight: 600;
    text-align: start;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    white-space: nowrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

td {
    padding: 8px 16px;
    font-size: 0.68rem;
    color: var(--clr-secondary);
    text-align: start;
    white-space: nowrap;

}